@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');

:root {
  --bg-dark: #1A1A1A;
  --container-light: #9070C2;
  --primary-yellow: #FED819;
  --active-purple: #b493e0;
  --text-light: #F0F0F0;
  --text-secondary: #B0B0C4;
  --color-white: #FFF;

  --spacing-unit: 0.9rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--primary-yellow);
  text-decoration: none;
}

h1, h2, h3 {
  color: var(--text-light);
}